<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>

<h2>Voters list maintenance</h2>
<hr>
<br>
<h3>Command</h3>
<form method="POST" action="./maintenance_limited">
<table border width=800>
	<tr>
		<td colspan=3><h4>1.リストの再読込</h4></td>
		<td><button type="Submit" name="command" value="reload">Submit</button></td></tr>
	<tr>
		<td width=160><h4>2.投票者の登録</h4></td>
		<td>投票者ID <input name="ins_id" type="text" ></td>
		<td>Password <input name="ins_pass" type="password" ></td>
		<td><button type="Submit" name="command" value="insert">Submit</button></td></tr>
	<tr>
		<td><h4>3.投票者の削除</h4></td>
		<td>投票者ID <input name="del_id" type="text" ></td>
		<td>Password <input name="del_pass" type="password" ></td>
		<td><button type="Submit" name="command" value="delete">Submit</button></td></tr>
	<tr>
		<td colspan=3><h4>4.ログアウト</h4></td>
		<td><button type="Submit" name="command" value="logout">Submit</button></td></tr>
</table>
</form>
<br>
<ul>
	{{range .result}}
	<li>{{.}}</li>
	{{end}}
</ul>
<hr>
<h3>Voters List</h3>

<table border width=800>
<tr>
	<td>投票者ID</td>
	<td>投票回数</td>
{{range .votersList}}
<tr>
	<td>{{.Id}}</td>
	<td>{{.Frequency}}</td>
{{end}}
</table>
		
	</body>
</html>