<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	
<h2>Unexpected Error</h2>
	<hr>
	<br>
	{{.errorMessage}}
	<br><br>
		<a href="./index">Back to admin_top</a>	
			
	</body>
</html>